// COLORS
    // Text
        $text-col: #fff;
        $second-text-color: #848484;
    
    // Background
        $bg-color: #1d2d3c;
        $second-bg-color: #2e3a46;

// TYPOGRAPHY
$main-font: 'Montserrat', sans-serif;
